.display_housing_grid_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  margin: auto;
  background-color: var(--white);
  min-height: 300px;
  border-radius: 51px;
}

.display_housing_grid_container > img {
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.display_housing_grid_container > img:hover {
  transform: translate(0px, 30px);
}

.like_selection {
}

.dislike_selection {
}
