.search_input {
  width: 100vw;
  box-sizing: border-box;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: var(--font-family);
  letter-spacing: 0.5px;
}

.search_input .search_input_title {
  font-size: 2.3rem;
}
.search_input input[type="text"] {
  width: 50%;
  padding: 10px 5px;
  margin: 0 var(--margin-sm);
  color: white;
  outline: none;
  font-size: 1.2rem;
  font-family: var(--font-family);
  letter-spacing: 0.5px;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--background-color);
  box-sizing: border-box;
}

.search_input input[type="text"]::placeholder {
  color: var(--white);
}

.search_input input[type="submit"] {
  width: 20%;
  height: 40px;
  color: var(--primary-color);
  border-radius: 2px;
  margin: 0 var(--margin-sm);
  font-family: var(--font-family);
  letter-spacing: 0.5px;
  font-weight: 100;
  font-size: var(--font-md);
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  outline: none;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.573) 1.95px 1.95px 2.6px;
  border: none;
}

.search_input input[type="submit"]:hover {
  color: var(--white);
  background: var(--primary-color);
}
