:root {
  --white: #ffffff;
  --primary-color: #fb6565;
  --background-color: rgb(30, 49, 90);
  --secondary-color: #f9cfcf;
  --ternary-color: #3a977f;
  --font-family: "Abril Fatface", cursive;
  --font-sm: 0.8rem;
  --font-md: 1.3em;
  --font-lg: 2rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --margin-sm: 0.25rem;
  --margin-md: 0.5rem;
  --margin-lg: 0.75rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: var(--font-family);
}
